body {
    margin: 0;
    padding: 0;
    width: 100%;
}
a   {
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    margin: 0 auto;
    width: 100%;
}
#logo {
    width: 50px;
    height: 50px;
    margin: auto 0;
}
#git-logo {
    margin: auto 0;
}
#svg-1
{
 text-align: center;
}
.header-logo {
    flex: 1;
    margin: auto 0;
    margin: 20px;
}
.header-menu {
    flex: 3;
    height: 100%;
    margin: 20px;
}
.header-menu ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content:flex-end;
}
.header-menu li {
    padding-left: 25px;
    padding-right: 25px;
    margin: auto 0;
}
.header-menu li a {
    color: #e5e7eb;
}
.header-menu li a:hover{
    color: #a9a9a9;
}
.content-container {
    width: 100%;
}
/* Hero */
.hero-container {
    background-color: #1F2937;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 100px;
}
.hero-content {
    width: 450px;
    padding-right: 20px;
}
.hero-content p{
    font-size: 18px;
    color: #E5E7EB
}
.hero-title {
  width: 350px;
}
.hero-content-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    border-color: none;
    border:none;
    margin-top: 20px;
}

button:hover {
    background-color: #306dd0;
}
/* Preview */
.preview-container {
    margin: 50px 100px 50px 100px;
    justify-content: center;
    padding-bottom: 100px;
}
.priview-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.preview-header{
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.priview-item {
    height: auto;
    width: 150px;
    padding: 10px;
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 50;
    text-align: center;
    margin: 0 50px 0 50px;
}


/* testimonials */
.testimonial-container {
background-color: #bfbfbf ;
}
.testimonial-content {
    width: 60vw;
    text-align: center;
    margin: 0 auto ;
    padding: 50px;
}
.testimonial-message {
    font-size: 24px;
    color: #5d5d5d;
    font-weight: 400;
}
.testimonial-author {
    text-align: right;
}